<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ConnectionString" connectionString="Database=visualstudio;Password=visualstudio;User ID=visualstudio;Server=localhost;Port=3306;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>